<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    {block name="title"}<title>网站标题</title>{/block}
    <!--<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <script type="text/javascript" src="__PUBLIC__/jquery/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/jquery/jquery.validate.min.js"></script>
    <script src="__BOOTSTRAP__/js/bootstrap.js"></script>
    <!--<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>-->
    <link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.css">
    <link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/user/css/base.css">
    <link rel="stylesheet" href="__STATIC__/home/css/style.css">

    <style>

        /*------------*/
        /**/

        body {
            background: #f7f8fa;
        }
    </style>
    {block name="style"}

    {/block}

</head>
<body>
{block name="header"}
<nav class="navbar navbar-fixed-top navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:url('Index/index')}">GUO</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="{:url('Index/works')}">作品</a></li>
                <li><a href="{:url('Index/archives')}">时间线</a></li>
                <li><a href="https://git.oschina.net/grj" target="_blank">Git</a></li>
                <li><a href="{:url('Index/resume')}">简历</a></li>
                <li><a href="{:url('Index/about')}">关于</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索你感兴趣的内容">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{/block}
{block name="content"}

{/block}
{block name="footer"}
<div class="footer">
    <p>@&nbsp;2017-2020&nbsp;&nbsp;<i class="fa fa-heartbeat" aria-hidden="true"></i>&nbsp;GUO</p>
    <p><i class="fa fa-user fa-lg" aria-hidden="true"></i>&nbsp;{$visit.visitors}&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{$visit.visit}</p>
</div>
{/block}
<script type="text/javascript">
    window.onload = function(){
        var config = {
            vx: 4,
            vy:  4,
            height:3,
            width: 3,
            count: 100,
            color: "121, 162, 185",
            stroke: "100,200,180",
            dist: 6000,
            e_dist: 20000,
            max_conn: 10
        }
        CanvasParticle(config);
    }

</script>
<script type="text/javascript" src="__PUBLIC__/static/canvas-particle.js"></script>
{block name="script"}
<script>
    $(window).scroll(function () {
        console.log($(window).scrollTop());
        console.log('--');
        console.log($(document).height());
        console.log('++');
        console.log($(window).height());
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
//            alert($(window).scrollTop());

        }
    });
</script>
{/block}

</body>
</html>