{extend name="base/base" /}

{block name="title"}<title>我告诉你个小秘密</title>{/block}
{block name="style"}
<style>

</style>
{/block}
{block name="content"}
<div class="container detail">
    <div class="row">
        <div class="col-lg-8 article">
            <div class="article-header">
                <h2 class="article-title">{$info.title}</h2>
                <div class="post-meto">
                    <span class="item-time"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i>&nbsp;{$info.add_time|date='Y-m-d',###} &nbsp;|</span>
                    <span></span><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;{$info.tag_name}
                </div>
            </div>
            <hr/>
            <div class="item-img">
                <img class="itemImg-img" src="{$info.img}"/>
            </div>
            <hr/>

            <div class="article-content">
                <p>
                    {$info.content}
                </p>
            </div>
            <div class="article-reword">
                <p class="reword-text">抬头仰望着明天星空</p>
                <button class="btn btn-danger">赏</button>
            </div>
            <hr/>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</div>
{/block}