{extend name="base/base" /}
{block name="style"}
<style>
    .main{
        position: relative;
        /*width: 1024px;*/
        margin: 80px auto;
        border-radius: 5px;
        box-shadow: 0 0 15px silver;
        background-color: #fff;
        overflow: hidden;
    }

</style>
{/block}
{block name="content"}
<div class="main container resume">
    <div class="row resume-head">
        <div class="head-title">
            <div class="title-name">
                <h1>你大爷</h1>
            </div>
            <div class="job"><h3>小编</h3></div>
        </div>
        <div class="info">
            <h4>男&nbsp;1999-9-9</h4>
            <h5>东北林业大学 · 机械设计制造及其自动化</h5>
            <h5>本科 / 2014.09 ~ 2018.06</h5>
        </div>
        <div class="contact">
            <ul>
                <li>shijinrong.cn  &nbsp;<i class="fa fa-home" aria-hidden="true"></i></li>
                <li>github.com/aierui &nbsp;<i class="fa fa-github" aria-hidden="true"></i></li>
                <li>aieruishi#gmail.com&nbsp;<i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                <li>1333061****&nbsp;<i class="fa fa-phone" aria-hidden="true"></i></li>
            </ul>
        </div>
    </div>
    <div class="resume-bd">
        <div class="bd-left">
            <section class="skill">
                <div class="section-header">
                    <span class="section-title-l"></span>
                    <h2 class="section-title">专业技能</h2>
                    <span class="section-title-r"></span>
                </div>
                <div class="section-bd">
                    <ul class="section-list">
                        <li>
                            <p class="sectionList-text"><i class="fa fa-circle" aria-hidden="true"></i>掌握JavaScript、ES6、HTML(5)、CSS(3)等基础知识，熟悉W3C标准，关注语言新特性。</p>
                        </li><li>
                            <p class="sectionList-text"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>掌握JavaScript、ES6、HTML(5)、CSS(3)等基础知识，熟悉W3C标准，关注语言新特性。</p>
                        </li><li>
                            <p class="sectionList-text"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>掌握JavaScript、ES6、HTML(5)、CSS(3)等基础知识，熟悉W3C标准，关注语言新特性。</p>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="person">
                <div class="section-header">
                    <span class="section-title-l"></span>
                    <h2 class="section-title">个人作品</h2>
                    <span class="section-title-r"></span>
                </div>
                <div class="section-bd">
                    <div class="section-item">
                        <div class="item-header">
                            <button class="btn btn-info itemHeader-link">Link</button>
                            <p class="itemHeader-title">大似懂非懂</p>
                        </div>
                        <div class="item-bd">
                            <div class="itemDb-text">
                                <p>&nbsp;&nbsp;大分店所付多撒付多撒付多撒付大所所所所所所所所所所所所所所所所所所所大分店所付多撒付多撒付多撒付大所所所所所所所所所所所所所所所所所所所</p>
                            </div>
                        </div>
                    </div>
                    <div class="section-item">
                        <div class="item-header">
                            <button class="btn btn-info itemHeader-link">Link</button>
                            <p class="itemHeader-title">大似懂非懂</p>
                        </div>
                        <div class="item-bd">
                            <div class="itemDb-text">
                                <p>&nbsp;&nbsp;大分店所付多撒付多撒付多撒付大所所所所所所所所所所所所所所所所所所所大分店所付多撒付多撒付多撒付大所所所所所所所所所所所所所所所所所所所</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div class="bd-right">
            <section class="skill">
                <div class="section-header">
                    <span class="section-title-l"></span>
                    <h2 class="section-title">专业技能</h2>
                    <span class="section-title-r"></span>
                </div>
                <div class="section-bd">
                    <ul class="section-list">
                        <li>
                            <p class="sectionList-text"><i class="fa fa-circle" aria-hidden="true"></i>掌握JavaScript、ES6、HTML(5)、CSS(3)等基础知识，熟悉W3C标准，关注语言新特性。</p>
                        </li><li>
                        <p class="sectionList-text"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>掌握JavaScript、ES6、HTML(5)、CSS(3)等基础知识，熟悉W3C标准，关注语言新特性。</p>
                    </li><li>
                        <p class="sectionList-text"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>掌握JavaScript、ES6、HTML(5)、CSS(3)等基础知识，熟悉W3C标准，关注语言新特性。</p>
                    </li>
                    </ul>
                </div>
            </section>

            <section class="person">
                <div class="section-header">
                    <span class="section-title-l"></span>
                    <h2 class="section-title">个人作品</h2>
                    <span class="section-title-r"></span>
                </div>
                <div class="section-bd">
                    <div class="section-item">
                        <div class="item-header">
                            <button class="btn btn-info itemHeader-link">Link</button>
                            <p class="itemHeader-title">大似懂非懂</p>
                        </div>
                        <div class="item-bd">
                            <div class="itemDb-text">
                                <p>&nbsp;&nbsp;大分店所付多撒付多撒付多撒付大所所所所所所所所所所所所所所所所所所所大分店所付多撒付多撒付多撒付大所所所所所所所所所所所所所所所所所所所</p>
                            </div>
                        </div>
                    </div>
                    <div class="section-item">
                        <div class="item-header">
                            <button class="btn btn-info itemHeader-link">Link</button>
                            <p class="itemHeader-title">大似懂非懂</p>
                        </div>
                        <div class="item-bd">
                            <div class="itemDb-text">
                                <p>&nbsp;&nbsp;大分店所付多撒付多撒付多撒付大所所所所所所所所所所所所所所所所所所所大分店所付多撒付多撒付多撒付大所所所所所所所所所所所所所所所所所所所</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

{/block}
{block name="script"}

{/block}