ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*
main
防止nav挡住
*/

.main {
    margin-top: 58px;
}


.sidebar-line {
    padding: 16px 20px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
}

.sidebar-line li {
    height: 40px;
    padding-bottom: 4px;
    color: #666;
}
.active-users .fa{
    color: #ff5500;
}
.active-article .fa{
    color: #ff0000;
}
.weixin-code{
    padding: 10px;
}
.weixin-code img {
    max-height: 100%;
    max-width: 100%;
}

.navbar {
    background: #fff;;
    box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
}
.footer{
    text-align: center;
    padding: 10px 20px;
    background: #f5f5f5;
}